*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #3b4252;
}
.encabezado{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    color: #ebcb8b;
}
.principal{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 5%;
}
.form{
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #88c0d0;
}
.selector-categorias{
    padding-top: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    
}
.subir-imagen{
    padding-top: 2%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.items{
    padding-top: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.enviar{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo{
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    color:#ebcb8b;
    border-bottom: #88c0d0 solid;
    text-align: center;
    padding-bottom: 2%;
}
.logo img{
    width: 10%;
}
.menu{
    
    display: flex;
    flex-direction: column;
    color: #ebcb8b;
}
.menu h2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.menu hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 2%;
    margin-bottom: 2%;
}
.menu img{
    width: 10%;
    border-radius: 50%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    
}
.menu p{
    font-size: 1.2rem;
    margin-left: 30%;
    margin-right: 30%;
}